.email-body {
  background: white;
  border: 2px solid var(--border);
  border-radius: var(--border-radius);
  width: 100%;
  height: inherit;
  margin-bottom: 4rem;
  flex: 2;
  display: flex;
  padding: 2rem;
  gap: 2rem;
}

.avatar-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  flex: 5;
  gap: 1.6rem;
  padding-right: 4rem;
}

.email-from {
  text-align: start;
  font-weight: 500;
}

.email-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.email-fav-button {
  padding: 0.5rem 1rem;
  word-break: keep-all;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--accent);
  outline: none;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 9999px;
}

.email-footer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
  font-size: 0.9rem;
  margin-top: -1rem;
}

.email-body-content {
  text-align: start;
  overflow-y: scroll;
}

.email-body-content::-webkit-scrollbar {
  display: none;
}

.close-button {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  right: 10rem;
  border: none;
  outline: none;
  background: white;
  border-radius: 100%;
  aspect-ratio: 1;
  transition: all;
  transition-duration: 200ms;
  cursor: pointer;
}

.close-button:hover {
  background: var(--read-background);
}

@media screen and (min-width: 1024px) {
  .close-button {
    display: none;
  }
}
