.filter-button-container > button {
  padding: 0.1rem 1rem;
  border-radius: 9999px;
  font-weight: 600;
  background: transparent;
  font-size: 1rem;
  outline: none;
  border: 1px solid transparent;
  text-align: center;
  cursor: pointer;
}

.focused-button {
  background: var(--filter-button);
  border: 1px solid var(--border);
  border-radius: 9999px;
}
