.email-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 0rem 1.2rem;
  padding-top: 1rem;
  border: 2px solid var(--border);
  border-radius: var(--border-radius);
  gap: 1.4rem;
}

.avatar {
  background: var(--accent);
  width: 2.6rem;
  height: 2.6rem;
  color: white;
  font-weight: bold;
  font-size: xx-large;
  border-radius: 100%;
  padding: 0.4rem;
  aspect-ratio: 1;
  line-height: 2.4rem;
}

.email-container-unread {
  background: white;
}

.email-container-read {
  background: var(--read-background);
}

/* @media screen and (max-width: 645px) { */
/*   .email-container { */
/*     flex-direction: column; */
/*   } */
/* } */

.email-container:hover {
  background-color: var(--read-background);
}

.email-body-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  overflow-x: hidden;
}

.email-details-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.email-from {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.email-from > p {
  margin: 0;
  padding: 0;
}

.email-subject {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.email-subject > p {
  margin: 0;
  padding: 0;
}

.email-short-description {
  color: var(--text);
  text-align: start;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.email-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  font-size: 0.9rem;
  margin-top: -1rem;
}

.email-footer > p:nth-child(2) {
  color: var(--accent);
  font-weight: 600;
}
