.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 8rem;
}

.emails-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 100vh;
  gap: 4rem;
}

.email-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  overflow: scroll;
  padding-bottom: 3rem;
  padding-right: 4rem;
}

.email-list::-webkit-scrollbar {
  display: none;
}
